table, td{
  border: 25px dashed darkviolet;
  border radius: 15px,25px,35px,45px;
  background-color: black;
  border-collapse: collapse;
  text-align: right;
  color:white;
}
.table {
  text-align: center;
}

div.tableDiv{
  background-color: deeppink;
  border-width: medium;
  margin:250px;
  margin-top:50px;
  border-radius:20px;
  border-style: groove;
}

p{
    font: 1.1em "Comic Sans MS", cursive, sans-serif;
    font-size: 30;
    color:white;
}

th {
  height: 50px;
  border: 1px solid black;
}

button {
   background-color:deeppink;
   border-radius: 250px;
   padding-right: 10%;
  display: inline-block;
  margin: auto;
  margin-left: 1%;
  margin-right:1%;
  height:3em;
   width:130px;
  font: 1.1em "Comic Sans MS", cursive, sans-serif;

}
button.function {
   background-color: orange;
   height:3em;
    width:130px;
  display: inline-block;
  margin: auto;
  margin-left: 1%;
  margin-right:1%;
  font: 1.1em "Comic Sans MS", cursive, sans-serif;
  "Comic Sans MS", cursive, sans-serif

}

h1{
color: deeppink;
font: "Comic Sans MS", cursive, sans-serif;
background-color: black;
}

#zero{
  width:260px;
}

button {
   padding-right: 10%;
  display: inline-block;
  margin: auto;
  margin-left: 1%;
  margin-right:1%;
  height:3em;
   width:130px;
  font: 1.1em "Comic Sans MS", cursive, sans-serif;
  color:black;
}

body{
  background-color: teal;
}
